@model UserCreateViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="header-page">

    <div class="row">
        <div class="col-md-6 justify-content-between">
            <h3><i class="fa-solid fa-user-plus"></i> <span class="text-primary">Create User</span></h3>
        </div>
        <div class="col-md-6 text-end">
           
        </div>
    </div>
    <hr />
</div>

<div class="content-page">

    <form id="profile-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="First_Name" class="form-label"></label>
                            <input asp-for="First_Name" class="form-control" placeholder="Please enter your First Name." />
                            <span asp-validation-for="First_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Last_Name" class="form-label"></label>
                            <input asp-for="Last_Name" class="form-control" placeholder="Please enter your Last Name." />
                            <span asp-validation-for="Last_Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" placeholder="Please choose your email." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-check form-switch mt-4">
                            <input asp-for="Active" class="form-check-input" type="checkbox" role="switch" id="Active" checked>
                            <label asp-for="Active" class="form-check-label" for="Active"></label>
                            <span asp-validation-for="Active" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="Password" class="form-label"></label>
                            <input type="password" asp-for="Password" class="form-control" placeholder="Please choose your password." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword" class="form-label"></label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Please type same password." />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" placeholder="Please choose your username." />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="PhoneNumber" class="form-label"></label>
                            <input asp-for="PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label asp-for="DateOfBirth" class="form-label"></label>
                            <input type="date" asp-for="DateOfBirth" class="form-control" aria-required="true" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center  mt-4">
                            <label asp-for="Gender" class="form-label pe-5"></label>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="Gender" class="form-check-input" value="true" id="male" checked />
                                <label for="male" asp-for="Gender" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="Gender" class="form-check-input" value="false" id="female" />
                                <label for="female" asp-for="Gender" class="form-check-label">Female</label>
                            </div>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3 text-center">
                            <img id="profilePicture" src="~/img/men.png" class="img-thumbnail" style="height: 210px; width: 210px; " />
                            <div class="">
                                <label asp-for="Image" class="form-label"></label>
                                <input asp-for="Image" class="form-control" type="file" accept="image/*"
                                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>Roles</h4>
                        @for (int i = 0; i < Model.Roles.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model.Roles[i].RoleName" />
                                <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" />
                                <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                                    @Model.Roles[i].RoleName
                                </label>
                            </div>
                        }
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label asp-for="Bio" class="form-label"></label>
                            <textarea asp-for="Bio" class="form-control" style="height: 100px" placeholder="Please type your Bio."></textarea>
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-group">
            <button id="update-profile-button" type="submit" class="btn btn-primary"><i class="fa-solid fa-circle-plus"></i> Create</button>
            <a asp-action="Index" class="btn btn-outline-secondary"><i class="fa-solid fa-angle-left"></i> Back to List</a>
        </div>
    </form>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
